@import "./header.css";
@import "./hero.css";
@import "./componentes/button.css";
@import "./componentes/wrapper.css";

/* figure {
  width: 100%;
} */
/* figure img {
  width: 100%;
  height: 100px;
} */

img {
  width: 100%;
}
